<!DOCTYPE html>
<html>
<head>
	<title>Ninja Gold</title>
	<style>
		div{
			display: inline-block;
			width: 20%;
			border: 1px solid black;
			text-align: center;
			padding: 10px;
		}
		.hi{
			margin:0px auto 0px auto;

		}
		</style>
</head>
<body>
	<h1>Ninja Gold</h1>
	<p>Your Gold: {{session['gold']}}</p>
	<div>
		<h2>Farm</h2>
		<p>(earn 10-20 golds)</p>
		<form action="/process_money" method="post">
  		<input type="hidden" name="hello" value="farm" />
  		<input type="submit" value="Find Gold!"/>
		</form>
	</div>
	<div>
		<h2>Cave</h2>
		<p>(earn 5-10 golds)</p>
		<form action="/process_money" method="post">
  		<input type="hidden" name="hello" value="cave" />
  		<input type="submit" value="Find Gold!"/>
		</form>
	</div>
	<div>
		<h2>House</h2>
		<p>(earn 2-5 golds)</p>
		<form action="/process_money" method="post">
  		<input type="hidden" name="hello" value="house" />
  		<input type="submit" value="Find Gold!"/>
		</form>
	</div>
	<div>
		<h2>Casino</h2>
		<p>(earn/ lose 0-50 golds)</p>
		<form action="/process_money" method="post">
  		<input type="hidden" name="hello" value="cas44ino" />
  		<input type="submit" value="Find Gold!"/>
		</form>
	</div>

	<div class="hi">

	</div>
</body>
</html>